.App {
  text-align: center;
}

body {
  background-color: #ffc75f;
  color: white;
}

h1 {
  color: goldenrod;
  font-weight: bold;
  font-size: 50px;
  font-family: "LoveFont";
}

h3 {
  color: black;
  font-family: "LoveFont";
}

.logo {
  height: 100px;
  margin-right: 5px;
}

.logo2 {
  height: 150px;
  margin-right: 10px;
}

.inputForm {
  margin: 20px;
}

.startUpDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #e7b355 !important;
}
